/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.zed

app/Models/*
database/migrations/*
!database/migrations/0001_01_01_000001_create_cache_table.php
!database/migrations/0001_01_01_000002_create_jobs_table.php
database/factories/*
database/seeders/*

packages/rider

supervisord.log
supervisord.pid
.DS_Store